
/*link to dot matrix font*/
@font-face {
    font-family: dotMatrix;
    src: url(../dot_matrix/DOTMATRI.TTF);
}


* {
  box-sizing: border-box;

}

body {
  background-image:url(../images/tileable-light-wood-textures-5.jpg);
}

main {
  margin: 20px auto;
  padding: 20px;
  width: 440px;
  background-color: #2f3336;
  border-radius: 20px;
  box-shadow: 10px 10px 5px black;
}

h1 {
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-family: 'Electrolize', sans-serif;
  margin-top: 10px;
}

#controls {
  background-color: white;
  width: 400px;
  height: 120px;
  margin: 0 auto;
  padding: 15px 15px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.button-container {
display: inline-block;
padding: 4px;
margin: 6px 4px;
text-align: center;
}


h2 {
  font-family: 'Electrolize', sans-serif;
}
.buttons {
  color: white;
  outline: none;
  font-size: 20px;
  height: 40px;
  text-align: center;
  width: 40px;
  opacity: 1;
  margin-bottom: 10px;
  font-family: 'Electrolize', sans-serif;
  border-radius: 2px;
  transition: all 0.2s ease;
  background-color: #FD0600;
  background: radial-gradient(#FF9A98 2%, #FD0600 98% );

}

#difficultyBox {
  margin: 6px auto;
  float: right;
}

h3 {
  font-size: 25px;
  color: black;
  font-family: 'Electrolize', sans-serif;
  text-align: center;
}

h4 {
  padding-top: 20px;
  font-size: 20px;
  color: black;
  font-family: 'Electrolize', sans-serif;
  text-align: center;
  display: inline-block;
  margin: 0 6px;
}
ul {
  border: 2px solid white;
  height: 400px;
  width: 400px;
  margin: 0 auto;
}

/*highlight class for buttons*/
.highlight {
  border: 5px solid #FFFFFF;
}

li {
  color: white;
  float: left;
  font-size: 30px;
  height: 22%;
  list-style-type: none;
  text-align: center;
  width: 22%;
  opacity: 1;
  margin: 1.5%;
  font-family: 'Electrolize', sans-serif;
  border-radius: 2px;
  transition: all 0.2s ease;
}

.scores {
  width: 400px;
  margin: 10px auto;
}

.columnA {
  background-color: #FE9500;
  background: radial-gradient(#FFCE88 2%, #FE9500 98% );
}

.columnB {
  background-color: #FA4CFF;
  background: radial-gradient(#FDAAFF 2%, #FA00FF 98%);
}
.columnC {
  background-color: #46FF0D;
  background: radial-gradient(#C8FFB7 2%, #46FF0D 98% );
}
.columnD {
  background-color: #FD0600;
  background: radial-gradient(#FF9A98 2%, #FD0600 98% );
}

.hidden {
  background: #7F8687;
  background: radial-gradient(#C5CACC 2%, #7F8687 98% );

}

h5 {
  padding: 5px;
  font-size: 30px;
  color: white;
  font-family: 'Electrolize', sans-serif;
  text-align: center;
}

/*neon glow for words*/
.neon {
  color: white;
  text-shadow:
    0 0 5px #ff0000,
    0 0 10px #ff0000,
    0 0 20px #ff0000,
    0 0 40px #f43d41,
    0 0 80px #f43d41,
    0 0 90px #f43d41,
    0 0 100px #f43d41,
    0 0 150px #f43d41,
    5px 5px 2px black;
}




.ticker-wrap {

  width: 400px;
  overflow: hidden;
  height: 50px;
  background-color: black;
  border: 3px solid white;

}

.ticker {
  position: relative;
  font-family: dotMatrix;
  color: red;
  font-size: 30px;
  height: 30px;
  display: inline-block;
  line-height: 40px;
  white-space: nowrap;
}

.ticker-text {
  position:absolute;
  left: 420px;
}
