* {
  box-sizing: border-box;
}

body {
  background: black;
}

main {
  margin:0 auto;
  width: 600px;
}


ul {
  border: 2px solid white;
  height: 400px;
  margin: 0 auto;
  padding: 0;
  width: 66%;
}

li {
  border: 2px solid white;
  color: white;
  float: left;
  font-size: 50px;
  height: 50%;
  list-style-type: none;
  text-align: center;
  width: 50%;
}

.activated {
  animation: blinker 0.5s linear;
}

@keyframes blinker {
  50% { background-color: red; }
}
