* {
  box-sizing: border-box;

}

body {
  background-image:url(../images/tileable-light-wood-textures-5.jpg);
}

main {
  margin:20px 200px;
  padding: 10px 0px;
  size: 500px 400px;
  background-color: #2f3336;
  border-radius: 20px;
}

h1 {
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-family: 'Electrolize', sans-serif;
}

#controls {
  background-color: white;
  width: 400px;
  height: 100px;
  margin: 0 auto;
  padding: 15px 15px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#button1 {
display: inline-block;
padding: 4px;
margin: 4px;
text-align: center;
}

#button2 {
display: inline-block;
padding: 4px;
margin: 4px;
text-align: center;
}

#button3 {
display: inline-block;
padding: 4px;
margin: 4px;
text-align: center;
}

h2 {
  font-family: 'Electrolize', sans-serif;
}
.buttons {
  color: white;
  font-size: 20px;
  height: 40px;
  text-align: center;
  width: 40px;
  opacity: 1;
  margin-bottom: 10px;
  font-family: 'Electrolize', sans-serif;
  border-radius: 2px;
  transition: all 0.2s ease;
  background-color: #1D1BFD;
  background: radial-gradient(#BFBEFF 2%, #1D1BFD 98% );

}


ul {
  border: 2px solid white;
  height: 400px;
  width: 400px;
  margin: 0 auto;
}

/*highlight class for buttons*/
.highlight {
  border: 5px solid #FFFFFF;
}

li {
  color: white;
  float: left;
  font-size: 30px;
  height: 23%;
  list-style-type: none;
  text-align: center;
  width: 23%;
  opacity: 1;
  margin: 1%;
  font-family: 'Electrolize', sans-serif;
  border-radius: 2px;
  transition: all 0.2s ease;
}

.scores {
  width: 400px;
  margin: 10px auto;
}
h3 {
  padding: 5px;
  font-size: 30px;
  color: white;
  font-family: 'Electrolize', sans-serif;
  text-align: center;
}
.columnA {
  background-color: #FE9500;
  background: radial-gradient(#FFCE88 2%, #FE9500 98% );
}

.columnB {
  background-color: #FA4CFF;
  background: radial-gradient(#FDAAFF 2%, #FA00FF 98%);
}
.columnC {
  background-color: #46FF0D;
  background: radial-gradient(#C8FFB7 2%, #46FF0D 98% );
}
.columnD {
  background-color: #FD0600;
  background: radial-gradient(#FF9A98 2%, #FD0600 98% );
}



/*neon glow for words*/
.neon {
  color: white;
  text-shadow:
    0 0 5px #ff0000,
    0 0 10px #ff0000,
    0 0 20px #ff0000,
    0 0 40px #f43d41,
    0 0 80px #f43d41,
    0 0 90px #f43d41,
    0 0 100px #f43d41,
    0 0 150px #f43d41;
}
